[http]
	postBuffer = 524288000
	version = HTTP/1.1
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[core]
	sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe
[user]
	name = mica
	email = mica@mica520.space
[init]
	defaultBranch = main
